body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  color: #fff;
  padding: 10px 0;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  display: flex;
}

.logo a {
  text-decoration: none;
  color: #e995cd;
}

.logo img {
  height: 50px;
}

.search_bar input {
  padding: 5px;
  font-size: 16px;
}

.search_bar button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #e66300;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background-color: #ff6a00;
}

main {
  padding: 20px;
}

.content {
  display: flex;
}

.cover img {
  width: 200px;
  height: auto;
}

.details {
  margin-left: 20px;
}

.details h1 {
  margin: 0;
}

.details p {
  margin: 5px 0;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #e66300;
  font-size: 30px;
  cursor: pointer;
}

.actions a {
  display: block;
  margin: 20px 0;
  padding: 5px 10px;
  background-color: #ff6a00;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.introduction {
  margin: 20px 0;
}

.list {
  color: #ff6a00;
}

.chapter-list {
  max-height: 300px;
  overflow-y: scroll;
  margin: 20px 0;
}

.chapter-list ul {
  list-style-type: none;
  padding: 0;
}

.chapter-list ul li {
  background-color: #ecf0f1;
  margin: 5px 0;
  padding: 10px;
}

.chapter-list ul li a {
  text-decoration: none;
  color: #000000;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer_contact p {
  margin: 5px 0;
}

.footer_contact a {
  color: #34747c;
  text-decoration: none;
}
/*  */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .menu-toggle {
    display: block;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  nav ul.menu-open {
    display: flex;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .footer_contact p {
    margin: 5px 0;
  }

  .footer_contact a {
    color: #34747c;
    text-decoration: none;
  }
}
